<div>
  <h2>Consultar Crédito por Número</h2>
  <input [(ngModel)]="numeroCredito" placeholder="Número Crédito">
  <button (click)="consultar()">Consultar</button>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="credito">
    <h3>Resultado:</h3>
    <table>
      <tr>
        <th>ID</th>
        <td>{{ credito.id }}</td>
      </tr>
      <tr>
        <th>Número Crédito</th>
        <td>{{ credito.numeroCredito }}</td>
      </tr>
      <tr>
        <th>Número NFSE</th>
        <td>{{ credito.numeroNfse }}</td>
      </tr>
      <tr>
        <th>Data Constituição</th>
        <td>{{ credito.dataConstituicao }}</td>
      </tr>
      <tr>
        <th>Valor ISSQN</th>
        <td>{{ credito.valorIssqn }}</td>
      </tr>
      <tr>
        <th>Tipo Crédito</th>
        <td>{{ credito.tipoCredito }}</td>
      </tr>
      <tr>
        <th>Simples Nacional</th>
        <td>{{ credito.simplesNacional ? 'Sim' : 'Não' }}</td>
      </tr>
      <tr>
        <th>Alíquota (%)</th>
        <td>{{ credito.aliquota | number:'1.2-2' }}</td>
      </tr>
      <tr>
        <th>Valor Faturado</th>
        <td>{{ credito.valorFaturado }}</td>
      </tr>
      <tr>
        <th>Valor Dedução</th>
        <td>{{ credito.valorDeducao }}</td>
      </tr>
      <tr>
        <th>Base Cálculo</th>
        <td>{{ credito.baseCalculo }}</td>
      </tr>
    </table>
  </div>
</div>
